.camperas__buzos__img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-content: space-around;



}

.camperas__buzos__titulo {
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: overline;
    display: flex;
    justify-content: center;
    line-height: 150px;
    font-size: map-get($tamamosSubTitulos, subTitulo );
}

/*camperas-buzos*/
@media screen and (max-width:480px) {
    .camperas__buzos h1 {
        font-size: 40px;
    }

    .campera__buzo__lista {
        display: none;
    }

    .camperas__buzos__titulo {
        font-size: 20px;
    }

}