.contacto__titulo {
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: overline;
    display: flex;
    justify-content: center;
    line-height: 150px;
    font-size: $tamanosSubsTitulos;
}

.contacto__lista {
    display: inline;
    list-style: none;
    margin-left: 90px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.contacto {
    position: initial;
}

.contacto__formulario {

    list-style: none;
    text-align: center;
    line-height: 50px;

    .form {
        line-height: 15px;
        width: 450px
    }

}



.formulario {
    display: flex;
    justify-content: center;
    color: rgb(8, 1, 14);
    

}

.butoon__form {
    @extend %button;
    border-radius: 10px;


}


@media screen and (max-width:480px) {
    header h1 {
        font-size: 40px;
    } 
    .contacto__titulo {
        font-size: 20px;
    }

    .contacto__formulario {

        list-style: none;
        text-align: center;
        line-height: 50px;
    
        .form {
            line-height: 15px;
            width: 200px
        }
        
    
    }






}