.remeras__titulo {
    color: black;
    font-weight: 700;
    font-family: map-get($tamamosSubTitulos, fontGeneral );
    text-decoration: overline;
    display: flex;
    justify-content: center;
    line-height: 150px;
    font-size: map-get($tamamosSubTitulos, subTitulo );
}
.remeras__img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-content: space-around;
}
@media screen and (max-width: 576px) {
    .remeras h1 {
        font-size: 40px;
    }
    .remeras__titulo {
        font-size: 20px;
    }
}