.remeras__titulo {
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: overline;
    display: flex;
    justify-content: center;
    line-height: 150px;
    font-size: $tamanosSubsTitulos;
}

.remeras__img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-content: space-around;
}

/*remeras*/
@media screen and (max-width:480px) {
    .remeras h1 {
        font-size: 40px;
    }

    .remeras__lista {
        display: none;
    }

    .remeras__titulo {
        font-size: 20px;
    }

}