header {
    text-align: center;
    margin: none;
    padding: none;
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 1;

    header h1 {
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 50px;
        text-decoration: underline;
        transition: all 0.1s;
        &:hover {
            font-size: 51px;
        }
    }

    header a {
        text-decoration: none;
        ul a {
            text-decoration: none;
            color: white;
        }
    }


    &:hover {
        color: rgba(197, 194, 194, 0.904)
    }

    .nav-link {
        color: white;
        &:hover {
            color: white;
            text-decoration: overline;
        }
    }

    .navbar-toggler {
        background-color: white;
        padding: 5px;
    }

}





main {
    padding-bottom: 200px;
    padding-left: 20px;
    line-height: 50px;
    text-align: center;
    
    .destacado {
        color: black;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: overline;
        display: flex;
        justify-content: center;
        line-height: 150px;
        font-size: 1.17em;
        
    }
    .tamaño__img {
        width: 200px;
        height: 250px;
        transition: all 0.5s;
        &:hover {
            width: 220px;
            height: 270px;
        }
    }
    
    .remeras__img1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
        align-content: space-around;
    }
    
    .card {
        background-color: transparent;
        border: none;
        color: rgb(61, 59, 59);
        &:hover {
            border-style: solid;
            border-radius: 8px;
            color: rgb(5, 4, 4);
        }
    }
    .button {
    
        border-radius: 8px;
        background-color: rgb(12, 12, 12);
        padding: 10px;
        color: rgb(254, 252, 252);
        text-decoration: none;
        &:hover {
            color: white;
        }
    }

}




footer {
    background-color: black;
    color: white;
    padding: 0%;
    margin: 0%;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 2px;
    line-height: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
    .footer__ig {
        width: 20px;
        height: 20px;
        transition: all 0.1s;
        &:hover {
            width: 22px;
            height: 22px;
        }
    }
    .p__contacto {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-decoration: underline;
        line-height: 8px;
        padding: 5px;
    }
    .piedepagina {
        font-size: 16px;
        line-height: 17px;
    }
    
    .diseño {
        text-align: center;
    }
}















.remeras__titulo {
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: overline;
    display: flex;
    justify-content: center;
    line-height: 150px;
    font-size: 1.17em;
}

.remeras__img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-content: space-around;
}





.camperas__buzos__img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-content: space-around;



}

.camperas__buzos__titulo {
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: overline;
    display: flex;
    justify-content: center;
    line-height: 150px;
    font-size: 1.17rem;
}





.pantalones__titulo {
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: overline;
    display: flex;
    justify-content: center;
    line-height: 150px;
    font-size: 1.17rem;

}

.pantalones__img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding-bottom: 150px;
}





.contacto__lista {
    display: inline;
    list-style: none;
    margin-left: 90px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.contacto {
    position: initial;
}

.contacto__formulario {
    list-style: none;
    text-align: center;

}



/*inicio*/
@media screen and (max-width:576px) {
    header h1 {
        font-size: 40px;
    }

    .lista {
        display: none
    }

    .tamaño__img {
        width: 140px;
        height: 175px;
        padding: 10px;

    }

    .destacado {
        font-size: 20px;
    }

    .card:hover {
        border-style: none;
        border-radius: none;
        color: none;
    }

    .button:hover {
        color: none;
    }

}

/*remeras*/
@media screen and (max-width:480px) {
    .remeras h1 {
        font-size: 40px;
    }

    .remeras__lista {
        display: none;
    }

    .remeras__titulo {
        font-size: 20px;
    }

}


/*camperas-buzos*/
@media screen and (max-width:480px) {
    .camperas__buzos h1 {
        font-size: 40px;
    }

    .campera__buzo__lista {
        display: none;
    }

    .camperas__buzos__titulo {
        font-size: 20px;
    }

}


/*pantalones*/
@media screen and (max-width:480px) {
    .pantalones h1 {
        font-size: 40px;
    }

    .pantalones__lista {
        display: none;
    }

    .pantalones__titulo {
        font-size: 20px;
    }

}


/*contacto*/
@media screen and (max-width:480px) {
    .contacto h1 {
        font-size: 40px;
    }

    .contacto__lista {
        display: none;
    }

    .contacto__formulario {
        font-size: 20px;

    }

    .form {
        width: 225px;
        height: 30px;
    }


}