@charset "UTF-8";
.butoon__form, main .button {
  background-color: rgb(12, 12, 12);
  padding: 10px;
  color: rgb(255, 253, 253);
  text-decoration: none;
}
.butoon__form:hover, main .button:hover {
  color: white;
}

.grilla {
  display: grid;
  grid-template-areas: "nav" "header" "footer";
}

header {
  grid-area: nav;
  text-align: center;
  margin: none;
  padding: none;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}
header h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  text-decoration: underline;
  transition: all 0.1s;
}
header h1:hover {
  font-size: 51px;
}
header header a {
  text-decoration: none;
}
header header a ul a {
  text-decoration: none;
  color: white;
}
header:hover {
  color: rgba(197, 194, 194, 0.904);
}
header .navbar-nav {
  display: flex;
  justify-content: space-around;
}
header .nav-link {
  color: white;
}
header .nav-link:hover {
  color: white;
  text-decoration: overline;
}
header .navbar-toggler {
  background-color: white;
  padding: 5px;
}
header .container-fluid {
  width: 100%;
}

footer {
  grid-template-areas: footer;
  background-color: black;
  color: white;
  padding: 0%;
  margin: 0%;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 2px;
  line-height: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
footer .footer__ig {
  width: 20px;
  height: 20px;
  transition: all 0.1s;
}
footer .footer__ig:hover {
  width: 22px;
  height: 22px;
}
footer .p__contacto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: underline;
  line-height: 8px;
  padding: 5px;
}
footer .piedepagina {
  font-size: 16px;
  line-height: 17px;
}
footer .diseño {
  text-align: center;
}

main {
  grid-template-areas: mian;
  padding-bottom: 200px;
  padding-left: 20px;
  line-height: 50px;
  text-align: center;
}
main .destacado {
  color: black;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: overline;
  display: flex;
  justify-content: center;
  line-height: 150px;
  font-size: 1.17em;
}
main .tamaño__img {
  width: 200px;
  height: 250px;
  transition: all 0.5s;
}
main .tamaño__img:hover {
  width: 220px;
  height: 270px;
}
main .remeras__img1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-content: space-around;
}
main .card {
  border: none;
  color: rgb(61, 59, 59);
}
main .card:hover {
  border-style: solid;
  border-radius: 8px;
  color: rgb(5, 4, 4);
}
main .button {
  border-radius: 8px;
}

.remeras__titulo {
  color: black;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: overline;
  display: flex;
  justify-content: center;
  line-height: 150px;
  font-size: 1.17em;
}

.remeras__img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-content: space-around;
}

/*remeras*/
@media screen and (max-width: 576px) {
  .remeras h1 {
    font-size: 40px;
  }
  .remeras__titulo {
    font-size: 20px;
  }
}
.camperas__buzos__img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-content: space-around;
}

.camperas__buzos__titulo {
  color: black;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: overline;
  display: flex;
  justify-content: center;
  line-height: 150px;
  font-size: 1.17em;
}

/*camperas-buzos*/
@media screen and (max-width: 576px) {
  .camperas__buzos h1 {
    font-size: 40px;
  }
  .campera__buzo__lista {
    display: none;
  }
  .camperas__buzos__titulo {
    font-size: 20px;
  }
}
.pantalones__titulo {
  color: black;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: overline;
  display: flex;
  justify-content: center;
  line-height: 150px;
  font-size: 1.17em;
}

.pantalones__img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  padding-bottom: 150px;
}

/*pantalones*/
@media screen and (max-width: 576px) {
  .pantalones h1 {
    font-size: 40px;
  }
  .pantalones__lista {
    display: none;
  }
  .pantalones__titulo {
    font-size: 20px;
  }
}
.contacto__titulo {
  color: black;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: overline;
  display: flex;
  justify-content: center;
  line-height: 150px;
  font-size: 1.17em;
}

.contacto__lista {
  display: inline;
  list-style: none;
  margin-left: 90px;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.contacto {
  position: initial;
}

.contacto__formulario {
  list-style: none;
  text-align: center;
  line-height: 50px;
}
.contacto__formulario .form {
  line-height: 15px;
  width: 450px;
}

.formulario {
  display: flex;
  justify-content: center;
  color: rgb(8, 1, 14);
}

.butoon__form {
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  header h1 {
    font-size: 40px;
  }
  .contacto__titulo {
    font-size: 20px;
  }
  .contacto__formulario {
    list-style: none;
    text-align: center;
    line-height: 50px;
  }
  .contacto__formulario .form {
    line-height: 15px;
    width: 200px;
  }
}
/*inicio*/
@media screen and (max-width: 576px) {
  header h1 {
    font-size: 40px;
  }
  .lista {
    display: none;
  }
  .tamaño__img {
    width: 140px;
    height: 175px;
    padding: 10px;
  }
  .destacado {
    font-size: 20px;
  }
  .card:hover {
    border-style: none;
    border-radius: none;
    color: none;
  }
  .button:hover {
    color: none;
  }
}/*# sourceMappingURL=styles.css.map */